<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>    
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="images/logo-dCompras-01.svg" alt="Logo dCompras"></a>       
                </div>                               
            </div>            
        </div> 
    </header>
    <div class="banner-psc">
        <img src="images/carrusel3.jfif" alt="Banner">
    </div>   
    <main>
     <section class="productCart">
        <h2>Tu Carrito</h2>

       <div class="cart-container">
        <div class="cart-item-container">   
           
          <div class="arrow-item">
            <div class="img-cart">
            </div>

         </div>
        
         <div class="arrow-item">
            <div class="img-cart">
            </div>
            <ul>

            </ul>
         </div>

        </div>

        <div class="aside-cart-container">
            
        </div>
      </div>
     </section>
    </main>    
    <%- include('./partials/footer') %>
</body>
</html>